@using WebApplication2.Controllers
@{
    ViewBag.Title = "DialogTest";
}

<div class="btn btn-default" id="button1">show dialog1</div>
<div class="btn btn-default" id="button2">show dialog2</div>
<div class="btn btn-default" id="button3">show dialog3</div>
<div class="btn btn-default" id="button4">show dialog4</div>

<div class="tab-container">
    <ul class="tab-ul">
        <li class="tab-li tab-active">pirveli</li>
        <li class="tab-li">meore</li>
        <li class="tab-li">mesame</li>
    </ul>
    <div class="tab-cnt">
    </div>
    <div class="tab-ftr">
        @*edit case*@
        <div class="btn btn-danger tab-btn-cancel">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            გაუქმება
        </div>
        <div class="btn btn-success tab-btn-save">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            შენახვა
        </div>
        <div class="btn btn-info tab-btn-edit">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            რედაქტირება
        </div>
        @*create case*@
        <div class="btn btn-danger tab-btn-next">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            შემდეგ
        </div>
        <div class="btn btn-success tab-btn-prev">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            წინა
        </div>
        <div class="btn btn-info tab-btn-create">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            შენახვა
        </div>
    </div>
</div>



@SBDialogView.SBDialog(new SBDialogParams
{
    Id = "dialogContainer",
    Width = 800,
    Height = 300,
    Title = "test header",
    Content = Html.Partial("~/Views/Home/ViewTest.cshtml",DateTime.Today ).ToHtmlString(),
    Page = this
})
@section scripts
{
    <script type="text/javascript">
        $(function () {

            $("#button1").on("click", function () {
                $('#dialogContainer').ssdialog('open');
            });
            $("#button2").on("click", function () {
                sbconfirm('გსურთ კაი საქციელი?', function() {
                    alert('kaia');
                });
            });
            $("#button3").on("click", function () {
                sbsuccess('ოპერაცია დასრულდა წარმატებით', true);
            });
            $("#button4").on("click", function () {
                sberror('რაღაცამ ვერ იმუშავა');
            });

        });

    </script>
}

