@using WebApplication2.Controllers
@{
    ViewBag.Title = "DialogTest";

}

<div class="btn btn-default" id="button1">show dialog1</div>
<div class="btn btn-default" id="button2">show dialog2</div>
<div class="btn btn-default" id="button3">show dialog3</div>
<div class="btn btn-default" id="button4">show dialog4</div>


@SBDialogView.SBDialog(new SBDialogParams
{
    Id = "dialogContainer",
    Width = 800,
    Height = 300,
    Title = "test header",
    Content = Html.Partial("~/Views/Home/ViewTest.cshtml",DateTime.Today ).ToHtmlString(),
    Page = this
})
@section scripts
{
    <script type="text/javascript">
        $(function () {

            //$('#dialogContainer').ssdialog({
            //    "width": 500,
            //    "height": 300,
            //    "title": "me me var",
            //    "ajaxUrl": "/Home/ViewTest"
            //});


            $("#button1").on("click", function () {
                $('#dialogContainer').ssdialog('open');
            });
            $("#button2").on("click", function () {
                sbconfirm('გსურთ კაი საქციელი?', function() {
                    alert('kaia');
                });
            });
            $("#button3").on("click", function () {
                sbsuccess('ოპერაცია დასრულდა წარმატებით', true);
            });
            $("#button4").on("click", function () {
                sberror('რაღაცამ ვერ იმუშავა');
            });


        });

    </script>
}

