@{
    ViewBag.Title = "DialogTest";

}

<div class="btn btn-default" id="button1">show dialog1</div>
<div class="btn btn-default" id="button2">show dialog2</div>
<div class="btn btn-default" id="button3">show dialog3</div>


<div id="dialogContainer" class="dialog-container">
    <div class="popupBackground"></div>
    <div class="dialog dialogdetail">
        <div class="dialog-topLine" style="background-color: #34aadc; border-top-left-radius: 3px;
                                      border-top-right-radius: 3px; height: 40px;">
            <div style="float: left; padding-left: 10px; padding-top: 8px; font-weight: bold">
                <span class="header_dialog">test</span>
            </div>
            <div class="dialog-closeButton">C</div>
            <div class="dialog-maximizeButton" style="float: right">M</div>
        </div>
        <div class="cnt" style="overflow: auto;">
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {

            $('#dialogContainer').ssdialog({
                "width": 500,
                "height": 300,
                "title": "me me var",
                "ajaxUrl": "/Home/ViewTest"
            });


            $("#button1").on("click", function () {
                $('#dialogContainer').ssdialog('title','pirveli');
                $('#dialogContainer').ssdialog('open', {button:1} );
            });
            $("#button2").on("click", function () {
                $('#dialogContainer').ssdialog('title', 'meore');
                $('#dialogContainer').ssdialog('open', { button: 2 });
            });
            $("#button3").on("click", function () {
                $('#dialogContainer').ssdialog('title', 'mesame');
                $('#dialogContainer').ssdialog('open', { button: 3 });
            });

        });

    </script>
}

