@using WebApplication2.Controllers
@{
    ViewBag.Title = "DialogTest";
}



<div class="tab-container" id="test_tab" style="height: 300px; position: relative; border: 1px solid black">
    <ul class="tab-ul" style="height: 30px;"></ul>
    <div class="tab-cnt" style="border: 1px solid black; overflow: auto;">
    </div>
    <div class="tab-ftr" style="border: 1px solid black; height: 40px; position: absolute; bottom: 0; left: 0; width: 100%">
        @*edit case*@
        <div class="btn btn-success tab-btn-save">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            შენახვა
        </div>
        <div class="btn btn-danger tab-btn-cancel">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            გაუქმება
        </div>
        <div class="btn btn-info tab-btn-edit">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            რედაქტირება
        </div>
        @*create case*@
        <div class="btn btn-danger tab-btn-next">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            შემდეგ
        </div>
        <div class="btn btn-success tab-btn-prev">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            წინა
        </div>
        <div class="btn btn-info tab-btn-create">
            შექმნა
        </div>
        <div class="btn btn-danger tab-btn-create-cancel">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            გაუქმება
        </div>
        @*create case*@

    </div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#test_tab').sbtab({
                'refreshOnInit': true,
                'role': 'edit',
                'tabs': [
                    {
                        title: 'second tab',
                        content: '<h1>test</h1><h1>test</h1><h1>test</h1><h1>test</h1><h1>test</h1><h1>test</h1>'
                    },
                    {
                        title: 'first tab',
                        ajaxUrl: '/Home/TestTabView',
                        ajaxParams: { button: 1 },
                        viewName: 'TestTabView'
                    }
                ]
            });
            $('#test_tab').sbtab('refreshCntSize');
        });

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

