@model WebApplication2.Models.TestTabViewModel

<form class="my_form" novalidate="novalidate">
    @if (Model.IsEditable)
    {
        @Html.TextBoxFor(o => o.Username)
    }
    else
    {
        <span>@Model.Username</span>
    }
</form>
<script type="text/javascript">
    function TestTabView_initSaveAjaxParams(cnt) {
        // return save ajax params to be send
        return {
            type: "Post",
            dataType: "html",
            // contentType: 'application/json',
            data: cnt.find('.my_form').serialize()
        };
    }
    function TestTabView_initCreateAjaxParams(cnt) {
        // return save ajax params to be send
        return {};
    }
    function TestTabView_afterRefresh(cnt, isEditable) {
        // after refresh call
    }
    function TestTabView_afterCreateRefresh(cnt) {
        // after create refresh call
    }
</script>
