@model WebApplication2.Models.TestTabViewModel

<form class="my_form" novalidate="novalidate" role="form">
    @if (Model.IsEditable)
    {
        @Html.TextBoxFor(o => o.Username)
        @Html.ValidationMessageFor(o => o.Username)
        @Html.TextBoxFor(o => o.LastName)
        <input type="submit" value="ok"/>
    }
    else
    {
        <span>@Model.Username</span>
    }
</form>
<script type="text/javascript">
    function TestTabView_initSaveAjaxParams(cnt) {
        // return save ajax params to be send
        return {
            type: "Post",
            dataType: "json",
            url: '/Home/TestTabViewSave',
            // contentType: 'application/json',
            data: cnt.find('.my_form').serialize()
        };
    }
    function TestTabView_initCreateAjaxParams(cnt) {
        // return save ajax params to be send
        return {};
    }
    function TestTabView_afterRefresh(cnt, isEditable) {
        if (isEditable) {
            jQuery.validator.unobtrusive.parse(cnt.find('.my_form'));
        }
        // after refresh call
    }
    function TestTabView_afterCreateRefresh(cnt) {
        // after create refresh call
    }
    function TestTabView_customButtons(cnt, tabParams) {
        // create custom buttons
        return [
            {
                'text': 'test button',
                'class': 'btn-info', 
                'func' : function() {
                    alert('good');
                }
            }
        ];
    }
</script>
