<h2>თქვენ დააჭირეთ @ViewBag.button ღილაკზე</h2>
<h4>ახლა არის @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss") დრო</h4>
<br/>
<div class="btn btn-danger" onclick="refreshDialog();">refresh</div>
<script type="text/javascript">
    function refreshDialog() {
        $('#dialogContainer').ssdialog('refresh');
    }
</script>
