@using WebApplication2.CoreClasses
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">
    @if (Model.Exception is CustomException)
    {
        @Model.Exception.Message
    }
    else
    {
        @: Internal Server error
    }
</h2>

