
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/TestAuthorized/ClearCache">clear cache</a>
<a href="~/TestAuthorized/SignOut">sign out</a>
<br/>
<input type="button" value="ajax_non_authenticate"/>
<input type="button" value="ajax_non_authorize"/>
<input type="button" value="ajax_knon_error"/>
<input type="button" value="ajax_unknown_error"/>
<br/>
<a href="~/TestAuthorized/ClearCache">non_authenticate</a>
<a href="~/TestAuthorized/SignOut">non_authorize</a>
<a href="~/TestAuthorized/SignOut">known error</a>
<a href="~/TestAuthorized/SignOut">unknown error</a>

<a href=""></a>